{% extends 'base.html.twig' %}


{% block body %}
    
    <body style="background-image: url(../fondo_login.jpg); width:100%;">

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form style="width:20%; margin: 10% 40%; padding:3%; background-color: white;" action="{{ path('login') }}" method="post">
        
        <a class="navbar-brand" href="{{path('recambios')}}"><img class="animated fadeIn" style="width:100%;" src="{{asset('logo.png')}}"/></a>
        
        <label style="margin-top:10%;" for="username">Usuario:</label>
        <input type="text" id="username" name="_username" value= "{{ last_username }}"/>

        <label style="margin-top:5%;" for="password">Contraseña:</label>
        <input type="password" id="password" name="_password"/>

        {% if app.user != null and app.user.rol == 'ROLE_ADMIN' %}
            <input type="hidden" name="_target_path" value= '/admin' />      
        {% elseif app.user != null and app.user.rol == 'ROLE_USER' %}
            <input type="hidden" name="_target_path" value="/cartools/web/app_dev.php" />     
        {% endif %}

        <div style="margin-top:12%;">
        
        <button class="btn btn-danger" type="submit">Entrar</button>

        <a style="margin-left:30%;" href="/cartools/web/app_dev.php/registro">Registro</a>
        
        </div>


    </form>


    <body>
{% endblock %}