{% extends 'base.html.twig' %}
{% block body %}
{# app/Resources/views/registro.html.twig #}
{{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button type="submit">Enviar</button>
{{ form_end(form) }}

{% endblock %}