{% extends 'base.html.twig' %}
{% block body %}

    <body style="background-image: url(../fondo_registro.jpg); width:100%;">
        {# app/Resources/views/registro.html.twig #}
        <div style="width:20%; margin: 5% 40%; padding:3%; background-color: white;">
            <a style="margin-bottom: 5%;" class="navbar-brand" href="{{path('recambios')}}"><img class="animated fadeIn" style="width:100%;" src="{{asset('logo.png')}}"/></a>

            {{ form_start(form) }}
            <div>{{ form_row(form.nombre) }}</div>
            <div style="margin-top:-5%;">{{ form_row(form.email) }}</div>
            <div style="margin-top:-5%;">{{ form_row(form.password.first) }}</div>
            <div style="margin-top:-5%;"> {{ form_row(form.password.second) }}</div>

            <button style="margin-top:2%;" class="btn btn-danger" type="submit">Enviar</button>
            {{ form_end(form) }}
        </div>

    </body>
{% endblock %}