{% extends 'base.html.twig' %}

{% block body %}
    <h1>Herramienta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ herramienta.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ herramienta.nombre }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ herramienta.contenido }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ herramienta.marca }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if herramienta.fechaCreacion %}{{ herramienta.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ herramienta.img }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ herramienta.precio }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ herramienta.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('herramientas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('herramientas_edit', { 'id': herramienta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
