{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recambio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recambio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ recambio.nombre }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ recambio.contenido }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ recambio.marca }}</td>
            </tr>
            <tr>
                <th>Fechaventa</th>
                <td>{% if recambio.fechaCreacion %}{{ recambio.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ recambio.img }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recambios_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recambios_edit', { 'id': recambio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
           
            
            
            
            
            
            
            
            
            
            
            
{% endblock %}
