{% extends 'base.html.twig' %}

{% block body %}


<hr style="width:50%;">

    <div class="animated fadeInUp" style="width:50%;margin:4%; margin-left:25%; padding:1%;">
        <p><a style="text-decoration:underline; color:black;" href="{{ path('recambios_show', { 'id': recambio.id }) }}"><h2 style="text-transform: uppercase;">{{ recambio.nombre }}</h2><img style="width:15%;" src="{{asset("imagen/" ~ recambio.marca)}}"</a></p>
        <a href="{{ path('recambios_show', { 'id': recambio.id }) }}"><img style="width:35%; border:1px solid black; padding:2%; float:right;" src="{{asset("imagen/" ~ recambio.img)}}"/></a>

        <p style="width:20%; margin-top:5%; font-size:20px;width:50%; text-align:left;">{{recambio.contenido}}
            <br><br>{% if recambio.fechaCreacion %}{{ recambio.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}
            <br><br><br>
            <a href="{{ path('recambios_show', { 'id': recambio.id }) }}"><button type="submit" name="estado" class="btn btn-success">Comprar</button></a>
            <button type="button" class="btn btn-danger">Añadir al carrito</button>
            <br>
        <h1 style="color:red;">{{recambio.precio}}€</h1>
        
        <br><br>

                <a href="{{ path('recambios_productos') }}">Volver a la página anterior</a>
      



    </p>

</div>

<hr style="width:50%;">

<div style="margin-left:40%;">

{{ form_start(form) }}

<div style="float:left;">{{ form_widget(form) }}</div>
<input type="submit" value="Enviar" />

{{ form_end(form) }}


</div>


{% endblock %}
