{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alquilers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Fechaalquiler</th>
                <th>Megusta</th>
                <th>Comentarios</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alquiler in alquilers %}
            <tr>
                <td><a href="{{ path('alquiler_show', { 'id': alquiler.id }) }}">{{ alquiler.id }}</a></td>
                <td>{{ alquiler.estado }}</td>
                <td>{% if alquiler.fechaAlquiler %}{{ alquiler.fechaAlquiler|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ alquiler.megusta }}</td>
                <td>{{ alquiler.comentarios }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('alquiler_show', { 'id': alquiler.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('alquiler_edit', { 'id': alquiler.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alquiler_new') }}">Create a new alquiler</a>
        </li>
    </ul>
{% endblock %}
