{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alquiler</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alquiler.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ alquiler.estado }}</td>
            </tr>
            <tr>
                <th>Fechaalquiler</th>
                <td>{% if alquiler.fechaAlquiler %}{{ alquiler.fechaAlquiler|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Megusta</th>
                <td>{{ alquiler.megusta }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ alquiler.comentarios }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alquiler_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('alquiler_edit', { 'id': alquiler.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
