{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Fechaventa</th>
                <th>Megusta</th>
                <th>Comentarios</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comprar in comprars %}
            <tr>
                <td><a href="{{ path('comprar_show', { 'id': comprar.id }) }}">{{ comprar.id }}</a></td>
                <td>{{ comprar.estado }}</td>
                <td>{% if comprar.fechaVenta %}{{ comprar.fechaVenta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ comprar.megusta }}</td>
                <td>{{ comprar.comentarios }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comprar_show', { 'id': comprar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comprar_edit', { 'id': comprar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comprar_new') }}">Create a new comprar</a>
        </li>
    </ul>
{% endblock %}
