{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comprar.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ comprar.estado }}</td>
            </tr>
            <tr>
                <th>Fechaventa</th>
                <td>{% if comprar.fechaVenta %}{{ comprar.fechaVenta|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comprar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comprar_edit', { 'id': comprar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
